

body {
    font-family: 'Raleway', sans-serif;
    color: #303030;
}

.fa-solid {
    background-color: #6617a3;
    color: #eeedf7;
}

#about {
    background-color:white;
}

#destacados {
    background-color:#eeedf7;

}

#contacto{
    background-color: #5b3787;
    color: white;
}

.btn {
    background-color: #c62d52;
}