

body {
    font-family: 'Raleway', sans-serif;
    color: #303030;
}

.fa-solid {
    background-color: #6617a3;
    color: #eeedf7;
}

#about {
    background-color:white;
}

#destacados {
    background-color:#eeedf7;

}